/* 
    Created on : 01/05/2017, 11:48:15
    Author     : Ivan Alves da Silva
*/


/* CSS do Header */

#principal-header{
    min-height: 112px;
}
#principal-header .row a:hover{
    text-decoration: none;   
}
#principal-header .row h1:hover{
    color: #9e3f81; 
}
#principal-header .row h1{
    color: #b35796;
    font-family: "Lucida Handwriting";
}
#principal-header .row.menu ul li{
    border-right:1px solid ; 
}
#principal-header .row ul li:last-child{
    border-right:none; 
}

#principal-header .row.menu-float-topo-right ul li{
    border-right:1px solid ;  
}
#principal-header .row.menu-float-topo-right ul li a{
    color: #999;
}
#principal-header .row.menu-float-topo-right ul li a:hover{
    color: #333;
}


/** PÁGINA HOME - PRINCIPAL*/
main{
    margin-top: 24px
}
main header h4{
    padding: 3px;
    max-width: 210px;
}
#home{


}

#home img{
    width: 100%;

}

#home div{
    margin-top: 36px;
}



/** PÁGINA DE PRODUTOS */

#produtos{

}

#produtos article{
    margin-top: 24px;
    color: #b35796;
}
#produtos article header{

}
img.primary-home{
    min-height: 190px;
    min-width: 130px;
    cursor: pointer;

}
.product-home{
    cursor: pointer;
}

/** Carrinho de compras*/
.cart-icon-pink{
    color:#9e3f81;
    
    display: block;
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 150px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    opacity: .8;
    background: url(../images/layout/cartrosa.jpg) no-repeat;
}
.cart-icon-pink:hover{
    color: grey;
    opacity: .9;
   
}
a.cart-icon-pink:hover{text-decoration: none;}
.cart-icon-pink span{
    display: block;
    font-weight: bolder;
    margin-top: 18%;
    margin-left: 15px;
}







/** FOOTER PRINCIPAL*/

#principal-footer{
    margin-top: 48px;
    background: #f2f0f0;
    border-top: 3px solid #939393;
    min-height: 112px;
    padding-top: 8px;
    z-index: -100;
}
#principal-footer a{
    color: #545454;
}
#principal-footer a:hover{
    text-decoration: none;
    color: #333;
}








/** genérica*/
.border-botton-rosa{
    border-bottom: 2px solid #dca3c6;

}

/** CSS DO CARRINHO DE COMPRAS*/
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
        width:20%;
        display: inline !important;
    }
    .actions .btn{
        width:36%;
        margin:1.5em 0;
    }

    .actions .btn-info{
        float:left;
    }
    .actions .btn-danger{
        float:right;
    }

    table#cart thead { display: none; }
    table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    table#cart tbody tr td:first-child { background: #333; color: #fff; }
    table#cart tbody td:before {
        content: attr(data-th); font-weight: bold;
        display: inline-block; width: 8rem;
    }



    table#cart tfoot td{display:block; }
    table#cart tfoot td .btn{display:block;}

}
